@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Roboto", sans-serif;
  }
}

.container-main {
  @apply container mx-auto px-4;
}

.bgr-dark {
  @apply bg-[#1C2329];
}
.btn {
  @apply leading-[40px] bg-white rounded-full inline-block font-bold text-sm px-6 transition ease-in-out duration-300;
}
.btn:hover {
  @apply outline outline-white shadow-md bg-transparent text-white;
}
.active {
  background-color: #1b95f2;
  color: white;
}
.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #1b95f2;
  border-radius: 50px;
}
.jodit-wysiwyg{
  min-height: 350px !important;
}
